:root {
    --border: 15px solid rgb(25, 25, 25)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#stats, #frame {
    width: 100%;
    border: var(--border);
}

#stats {
    height: 15%;
    border-bottom: none;
    background-color: rgb(50, 50, 50);
    display: flex;
}

.statName, .statCont {
    display: inline-block;
    width: 50%;
}

#characterItems, #characterStats {
    height: 100%;
    width: 35%;
    margin: 7.5px;
    display: grid;
    grid-template-columns: 50% 50%;
}

#characterItems {
    grid-template-rows: 33.33% 33.33% 33.33%;
}

#characterStats {
    grid-template-rows: 25% 25% 25% 25%;
}

#frame {
    height: 85%;
    background-color: black;
}

#current, #text {
    padding: 5px;
}

#current {
    height: 5.5%;
    border-bottom: var(--border);
    display: flex;
    justify-content: space-around;
}

#text {
    width: 100%;
    height: 95%;
    overflow-y: auto;
}

#tierF {
    color: lightgray;
}

#tierE {
    color: white;
}

#tierD {
    color: lightgreen;
}

#tierC {
    color: lime;
}

#tierB {
    color: yellow;
}

#tierA {
    color: gold;
}

#tierS {
    color: orange;
    text-shadow: 0px 0px 2px orange,0px 0px 2px darkgoldenrod,0px 0px 2px darkorange
}

#tierSS {
    color: crimson;
    text-shadow: 0px 0px 2px darkred,0px 0px 2px red,0px 0px 2px pink;
}

#tierSSS {
    color: black;
    text-shadow:  1px 1px 2px lightslategray, -1px -1px 2px lightgray, 0px 0px 2px darkgray;
}

/* scollbar */
/* Track width */
#text::-webkit-scrollbar {
    width: 20px;
}
 
/* Track color*/
#text::-webkit-scrollbar-track {
    background-color: rgb(50, 50, 50);
}

/* Handle color*/
#text::-webkit-scrollbar-thumb {
    background: rgb(125, 125, 125); 
}

/* Handle color on hover */
    #text::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 150, 150); 
}